body {
    text-align: center;
}

.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: 0 auto;
}

.slide {
    display: none;
    width: 100%;
}

button {
    margin: 10px;
}
